{% extends 'pond_base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title p-m">
                    <h2><span class="text-navy font-bold"><strong>{% if not form.instance.pk %} Iniciar {% else %} Editar {% endif %} Ciclo</strong></span></h2>
                </div>
                <div class="ibox-content p-m">
                    <form id="formId" method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.final_middleweight.label }}
                                            <small class="form-text">Peso médio em gramas. Esse é o peso esperado na despesca!</small>
                                        </h3>
                                    </label>
                                    {{ form.final_middleweight }}
                                    {% for erro in form.final_middleweight.errors %}
                                        <p class="text-danger">{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.system.label }}
                                            <small class="form-text">Sistema de cultivo</small>
                                        </h3>
                                    </label>
                                    {{ form.system }}
                                    {% for erro in form.system.errors %}
                                        <p class="text-danger">{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row" id="type_intensive">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.type_intensive.label }}
                                            <small class="form-text">Tipo de sistema intensivo</small>
                                        </h3>
                                    </label>
                                    {{ form.type_intensive }}
                                    {% for erro in form.type_intensive.errors %}
                                        <p class="text-danger">{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-white" href="{% url 'pond_detail' property.id pond.id %}">
                                    Cancelar
                                </a>
                                <button class="btn btn-primary" type="submit">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script>
        $(document).ready(function () {
            var system = $('#system'),
                type_intensive = $('#type_intensive');

            if($('#system :selected').val() === "intensive"){
                type_intensive.show()
            }else {
                type_intensive.hide();
            }

            system.on('change', function (e) {
                var val = $(e.target).val(),
                    type_intensive = $('#type_intensive');
                if(val === "intensive"){
                    type_intensive.show();
                }else{
                    type_intensive.hide();
                }
            });
        })

    </script>

{% endblock %}