{% extends 'base.html' %}
{% load static %}

{% block title %}Novo ciclo{% endblock %}

{% block content %}

    <div class="row wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Novo Ciclo</h5>
                </div>
                <div class="ibox-content">
                    <form id="formId" method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="form-group col-md-12">
                            <label >{{ form.middleweight_despesca.label }}</label>
                            {{ form.middleweight_despesca }}
                        </div>

                        <div id="system" class="form-group col-md-12">
                            <label>{{ form.system.label }}</label>
                            {{ form.system }}
                        </div>

                        <div id="type_intensive" class="form-group col-md-12">
                            <label>{{ form.type_intensive.label }}</label>
                            {{ form.type_intensive }}
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white" href="{% url 'pond_detail' slug_property pk_pond %}">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            var system = $('#system'),
                type_intensive = $('#type_intensive'),
                form = $('#formId');

            type_intensive.hide();

            system.on('change', function (e) {
                var val = $(e.target).val(),
                    type_intensive = $('#type_intensive');
                if(val === 'IN'){
                    type_intensive.show();
                }else{
                    type_intensive.hide();
                }
            });

            form.validate({
                messages: {
                    middleweight_despesca: {
                        required: "Defina o peso medio!"
                    },
                    system: {
                        required: "Defina o sistema!"
                    },
                    type_intensive: {
                        required: "Defina o tipo de sistema intensivo!"
                    }
                }
            })
        })

    </script>

{% endblock %}