{% extends 'pond_base.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title p-md">
                    <h2><span class="text-navy">Novo Ciclo</span></h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'pond_detail' property.id pond.id %}">{{ pond.identification }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Novo Ciclo</strong>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">>
                <div class="ibox-content p-md">
                    <form id="formId" method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.middleweight_despesca.label }}</h3>
                                    </label>
                                    {{ form.middleweight_despesca }}
                                    <span class="form-text m-b-none">Peso médio esperado em gramas.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.system.label }}</h3>
                                    </label>
                                    {{ form.system }}
                                    <span class="form-text m-b-none">Sistema de cultivo</span>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="type_intensive">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.type_intensive.label }}</h3>
                                    </label>
                                    {{ form.type_intensive }}
                                    <span class="form-text m-b-none">Tipo de sistema intensivo</span>
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-white" href="{% url 'pond_detail' property.id pond.id %}">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/jasny/jasny-bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/validate/jquery.validate.min.js' %}"></script>

    <script>
        $(document).ready(function () {
            var system = $('#system'),
                type_intensive = $('#type_intensive'),
                form = $('#formId');

            if($('#system :selected').val() === 'IN'){
                type_intensive.show()
            }else {
                type_intensive.hide();
            }

            system.on('change', function (e) {
                var val = $(e.target).val(),
                    type_intensive = $('#type_intensive');
                if(val === 'IN'){
                    type_intensive.show();
                }else{
                    type_intensive.hide();
                }
            });

            form.validate({
                messages: {
                    middleweight_despesca: {
                        required: "Defina o peso medio!"
                    },
                    system: {
                        required: "Defina o sistema!"
                    },
                    type_intensive: {
                        required: "Defina o tipo de sistema intensivo!"
                    }
                }
            })
        })

    </script>

{% endblock %}