{% extends 'base.html' %}

{% block menu %}

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a href="{% url 'property_list' %}">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" style="color: white">{{ user.name }}</strong>
                             </span>
                            </span>
                        </a>
                    </div>
                    <div class="logo-element">
                        Aquaara
                    </div>
                </li>
                <li class="{{ pond_page }}">
                    <a href="{% url 'property_ponds' property.id %}">Viveiros</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Sair</a>
                </li>
            </ul>

        </div>
    </nav>

{% endblock %}