{% extends 'pond_base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title p-m">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'pond_detail' pond.property.id pond.id %}">
                                <h2 class="text-navy font-bold">
                                    <strong>{{ pond.identification|upper }}</strong>
                                </h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if object_list.count > 0 %}

        <div class="row">
            {% for cycle in object_list %}

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-title bg-white">
                            <a href="{% url 'cycle_detail' property.id pond.id cycle.id %}" class="btn-link">
                                <h2 class="font-bold text-center">
                                <strong>Ciclo {{ forloop.counter }}</strong>
                            </h2>
                            </a>
                        </div>
                        <div class="ibox-content">
                            <h3>
                                Data de Inicio:
                                <small>{{ cycle.date|date:'d/m/Y' }}</small>
                            </h3>
                            <h3>
                                Quantidade de Peixes Inicial:
                                <small>{{ cycle.amount_fish_population }}</small>
                            </h3>
                            <h3>
                                Quantidade de Peixes na Despesca:
                                <small>{{ cycle.despesca_total }}</small>
                            </h3>
                            <h3>
                                Quantidade Total de Ração:
                                <small>falta calcular</small>
                            </h3>
                            <h3>
                                Mortalidade:
                                <small>{{ cycle.mortality_total }} peixes</small>
                            </h3>
                            <h3>
                                Conversão Alimentar:
                                <small>Falta calcular</small>
                            </h3>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    {% else %}

        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold text-navy"><strong>Nenhum ciclo foi completado!</strong></h3>
        </div>

    {% endif %}



{% endblock %}