{% extends 'pond_base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title p-m">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><span class="text-navy font-bold"><strong>{{ pond.identification|upper }}</strong></span></h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'ponds_list' property.id %}">{{ property.name }}</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <a href="{% url 'pond_detail' property.id pond.id %}">{{ pond.identification }}</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <strong>Ciclos Antigos</strong>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if object_list.count > 0 %}

        <div class="row">
            {% for cycle in object_list %}

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-title bg-primary">
                            <h2 class="font-bold text-center">
                                <strong>Ciclo {{ forloop.counter }}</strong>
                            </h2>
                        </div>
                        <div class="ibox-content">
                            <h3>
                                Data de Inicio:
                                <small>{{ cycle.date|date:'d/m/Y' }}</small>
                            </h3>
                            <h3>
                                Data da Despesca:
                                <small>{{ cycle.despesca.date|date:'d/m/Y' }}</small>
                            </h3>
                            <h3>
                                Quantidade de Peixes Inicial:
                                <small>{{ cycle.amount_fish }}</small>
                            </h3>
                            <h3>
                                Quantidade de Peixes na Despesca:
                                <small>{{ cycle.amount_fish_current }}</small>
                            </h3>
                            <h3>
                                Quantidade Total de Ração:
                                <small>falta calcular</small>
                            </h3>
                            <h3>
                                Mortalidade:
                                <small>{{ cycle.mortality_total }} peixes</small>
                            </h3>
                            <h3>
                                Conversão Alimentar:
                                <small>Falta calcular</small>
                            </h3>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    {% else %}

        <div class="middle-box text-center animated fadeInRightBig">
            <h3 class="font-bold text-navy"><strong>Nenhum ciclo foi completado!</strong></h3>
        </div>

    {% endif %}



{% endblock %}