{% extends 'menu.html' %}

{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h3 class="font-bold">Excluir {{ object }}</h3>
                <div class="error-desc">
                    Se você excluir esse viveiro, todas as informações seram perdidas
                    <br/><button type="submit" class="btn btn-danger m-t"><i class="fa fa-trash"></i> Excluir</button>
                    <a href="{% url 'pond_detail' slug_property object.id %}" class="btn btn-primary m-t">Cancelar</a>
                </div>
            </div>
        </div>
    </form>

{% endblock %}