{% extends 'pond_base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title p-m">
                    <h2><span class="text-navy font-bold"><strong>{% if not form.instance.pk %} Cadastrar {% else %} Editar {% endif %} Viveiro</strong></span></h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'ponds_list' property.id %}">{{ property.name }}</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>Cadastrar Viveiro</strong>
                        </li>
                    </ol>
                </div>
                <div class="ibox-content p-m">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.identification.label }}
                                            <small class="form-text">Nome ou Numero que identifique o viveiro.</small>
                                        </h3>
                                    </label>
                                    {{ form.identification }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.water_flow.label }}
                                            <small class="form-text">Vazão de Água do viveiro em litros por minuto.</small>
                                        </h3>
                                    </label>
                                    {{ form.water_flow }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.width.label }}
                                            <small class="form-text">Largura do viveiro em metros.</small>
                                        </h3>
                                    </label>
                                    {{ form.width }}

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.length.label }}
                                            <small class="form-text">Comprimento do viveiro em metros.</small>
                                        </h3>
                                    </label>
                                    {{ form.length }}
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-link btn-default" href="{% url 'ponds_list' property.id %}">
                                   Cancelar
                                </a>
                                <button class="btn btn-primary" type="submit">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}