{% extends 'pond_base.html' %}

{% load static %}

{% block content %}

    {% if object_list.count > 0 %}

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h2><span class="text-navy font-bold"><strong>Viveiros</strong></span></h2>
                        <div class="pull-right">
                            <a href="{% url 'pond_create' property.id %}" class="btn btn-primary">
                                <h4 class="font-bold">
                                    <i class="fa fa-plus"></i>
                                    <strong>Cadastrar Viveiro</strong>
                                </h4>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>
                                {% for pond in object_list %}
                                    <tr>
                                        <td class="issue-info">
                                            <a href="{% url 'pond_detail' property.id pond.id %}" class="font-bold">
                                                <h4><strong>{{ pond.identification }}</strong></h4>
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a href="{% url 'pond_update' property.id pond.id %}" class="btn btn-white btn-sm">
                                                <i class="fa fa-pencil"></i> Editar </a>
                                            <a href="{% url 'pond_delete' property.id pond.id %}" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash"></i> Excluir </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}

        <div class="wrapper wrapper-content">
            <div class="middle-box text-center animated fadeInRightBig">
                <h2 class="font-bold">Nenhum Viveiro Cadastrado!</h2>
                <div class="error-desc">
                     Cadastre seus Viveiros aqui.
                    <br/><a href="{% url 'pond_create' property.id %}" class="btn btn-primary m-t">
                    <i class="fa fa-plus"></i>
                    <strong>Cadastar Viveiro</strong>
                </a>
                </div>
            </div>
        </div>

    {% endif %}


{% endblock %}