{% extends 'pond_base.html' %}
{% load static %}

{% block head %}

    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title p-m">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><span class="text-navy font-bold"><strong>{{ pond.identification|upper }}</strong></span></h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'property_ponds' pond.property.id %}">{{ pond.property.name }}</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <strong>{{ pond.identification }}</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                {% if not pond.cycle %}
                                    <a href="{% url 'cycle_init' pond.property.id pond.id %}" class="btn btn-warning btn-outline btn-link font-bold"><strong>Novo ciclo</strong></a>
                                {% else %}
                                    {% if not pond.cycle.population %}
                                        <a href="{% url 'population' pond.property.id pond.id %}" class="btn btn-warning btn-outline btn-link font-bold"><strong>Povoamento</strong></a>
                                    {% else %}
                                        <a href="{% url 'despesca' pond.property.id pond.id %}" class="btn btn-warning btn-outline btn-link font-bold"><strong>Despesca</strong></a>
                                    {% endif %}
                                {% endif %}
                                <a href="{% url 'old_cycles' pond.property.id pond.id %}" class="btn btn-primary btn-outline btn-link font-bold"><strong>Ciclos antigos</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="ibox collapsed">
                <div class="ibox-title bg-success">
                    <h2 class="font-bold"><strong>VIVEIRO</strong></h2>
                    <div class="ibox-tools">
                        <a class="collapse-link btn-link btn-lg">
                            <i class="fa fa-chevron-up text-light"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        Ciclos realizados:
                        <small> {{ pond.number_cycles }}</small>
                    </h3>
                    <h3>
                        Área do viveiro:
                        <small> {{ pond.area }} m²</small>
                    </h3>
                    <h3>
                        Vazão de Água:
                        <small> {{ pond.water_flow }} l/m</small>
                    </h3>
                    <h3>
                        Volume de Água:
                        <small> {{ pond.volume }} L</small>
                    </h3>
                </div>
            </div>
        </div>

        {% if pond.cycle %}
            <div class="col-lg-4">
                <div class="ibox collapsed">
                    <div class="ibox-title bg-primary">
                        <h2 class="font-bold"><strong>CICLO</strong></h2>
                        <div class="ibox-tools">
                            <a href="{% url 'cycle_update' pond.property.id pond.id pond.cycle.id %}" class="btn-link btn-lg" title="Click para editar as informações do ciclo.">
                                <i class="fa fa-pencil text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h3>
                            Sistema:
                            <small>
                                {{ pond.cycle.get_system_display }}
                                {% if pond.cycle.system == pond.cycle.INTENSIVE %}
                                    - {{ pond.cycle.get_type_intensive_display }}
                                {% endif %}
                            </small>
                        </h3>
                        <h3>
                            Densidade:
                            <small> {{ pond.cycle.density }} peixe/m²</small>
                        </h3>
                        <h3>
                            Total de Peixes:
                            <small>{{ pond.cycle.amount_fish_total }} peixes</small>
                        </h3>
                        {% if pond.cycle.population %}
                            <h3>
                                Peixes Povoado:
                                <small>{{ pond.cycle.amount_fish_population }} peixes</small>
                            </h3>
                            <h3>
                                Peixes Atual:
                                <small>{{ pond.cycle.amount_fish_current }} peixes</small>
                            </h3>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if pond.cycle.population %}

                <div class="col-lg-4">
                    <div class="ibox collapsed">
                        <div class="ibox-title bg-danger">
                            <h2 class="font-bold"><strong>POVOAMENTO</strong></h2>
                            <div class="ibox-tools">
                                <a href="{% url 'population_update' property.id pond.id pond.cycle.population.id %}" class="btn-link btn-lg" title="Editar">
                                    <i class="fa fa-pencil text-light"></i>
                                </a>
                                <a class="collapse-link btn-link btn-lg">
                                    <i class="fa fa-chevron-up text-light"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <h3>
                                Data do Povoamento:
                                <small> {{ pond.cycle.population.date|date:'d/m/Y' }}</small>
                            </h3>
                            <h3>
                                Peso Médio no Povoamento:
                                <small> {{ pond.cycle.population_middleweight }} g</small>
                            </h3>
                            <h3>
                                Peso Médio Atual:
                                <small> {{ pond.cycle.current_middleweight }} g</small>
                            </h3>

                            <h3>
                                Peso Médio Final:
                                <small> {{ pond.cycle.final_middleweight }} g</small>
                            </h3>
                            <h3>
                                Biomassa Maxima:
                                <small> {{ pond.cycle.max_biomassa|floatformat:2 }} kg</small>
                            </h3>
                            <h3>
                                Biomassa Atual:
                                <small> {{ pond.cycle.current_biomassa|floatformat:2 }} kg</small>
                            </h3>

                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}
    </div>

    {% if pond.cycle and pond.cycle.population %}

        <div class="row">
            <div class="col-lg">
                <div class="ibox collapsed">
                    <div class="ibox-title bg-warning">
                        <h2 class="font-bold"><strong>ARRAÇOAMENTO</strong></h2>
                        <div class="ibox-tools">
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h3>Total de Ração do dia:
                            <small>{{ pond.cycle.full_day_feeding|floatformat:3 }} kg</small>
                        </h3>
                        <h3>Total de Ração por refeição:
                            <small>{{ pond.cycle.feeding_meal|floatformat:3 }} kg</small>
                        </h3>

                        <h3>
                            Refeições por dia:
                            <small>{{ pond.cycle.number_feeds }}</small>
                        </h3>
                        <h3>
                            Horários da ração:
                            <small>{{ pond.cycle.meal_times }}</small>
                        </h3>
                        <h3>
                            Proteina na ração:
                            <small>{{ pond.cycle.proteina_racao }}</small>
                        </h3>
                        <h3>
                            Diâmetro do pelete:
                            <small>{{ pond.cycle.diametro_pelete }}</small>
                        </h3>
                        <h3>
                            Conversão Alimentar
{#                            <small>{{ pond.cycle.food_conversion }}</small>#}
                        </h3>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="ibox collapsed">
                    <div class="ibox-title bg-info">
                        <h2 class="font-bold"><strong>CUSTO</strong></h2>
                        <div class="ibox-tools">
                            <a href="{% url 'custo' property.id pond.id %}" class="btn-link btn-lg" title="Click para editar as informações de custo.">
                                <i class="fa fa-pencil text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="custotable table table-hover no-margins" data-page-size="5">
                            <thead>

                            <tr>
                                <th>Período</th>
                                <th>Custo</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for period in pond.cycle.periods %}

                                <tr>
                                    <td>{{ period.period.start|date:'d/m/Y' }} - {{ period.period.end|date:'d/m/Y' }}</td>
                                    <td>R$ {{ period.cost }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        {% if pond.cycle.system == pond.cycle.SEMI_INTENSIVE %}

            <div class="row">
                <div class="col-lg">
                    <div class="ibox collapsed">
                        <div class="ibox-title bg-info">
                            <h2 class="font-bold"><strong>QUALIDADE DA ÁGUA</strong></h2>
                            <div class="ibox-tools">
                                <a class="collapse-link btn-link btn-lg">
                                    <i class="fa fa-chevron-up text-light"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content"></div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg">

                <div class="ibox collapsed">
                    <div class="ibox-title bg-dark">
                        <h2 class="font-bold text-light"><strong>BIOMETRIA</strong></h2>
                        <div class="ibox-tools">
                            <a class="btn-link btn-lg" href="{% url 'biometria' property.id pond.id %}" title="NOVA BIOMETRIA">
                                <i class="fa fa-plus text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>
                                    Data da Proxima Biometria:
                                    <small>{{ pond.cycle.date_next_biometria|date:'d/m/Y' }}</small>
                                </h3>
                                <h3>
                                    Quantidade de Peixes da Proxima Biometria:
                                    <small>{{ pond.cycle.amount_fish_biometria }}</small>
                                </h3>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="row">
                            {% with all_biometria=pond.cycle.all_biometria %}
                                {% if all_biometria|length > 0 %}
                                    <div class="col-md-4">
                                        <table class="biotable table table-hover no-margins" data-page-size="5">
                                            <thead>
                                            <tr>
                                                <th>Peso Médio</th>
                                                <th>Data</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for bio in all_biometria %}
                                                <tr>
                                                    <td>{{ bio.middleweight }} g</td>
                                                    <td>{{ bio.date|date:'d-m-Y' }}</td>
                                                    <td>
                                                        <a href="{% url 'biometria_update' property.id pond.id bio.id %}" class="btn btn-outline-secondary btn-xs" title="Editar Biometria"><i class="fa fa-pencil"></i> Editar</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <ul class="pagination float-right"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="dashboard-chart">
                                            <canvas id="bioChart" height="100%"></canvas>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-12">
                                        <h3 class="text-center">Nenhuma Biometria realizada!</h3>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg">
                <div class="ibox collapsed">
                    <div class="ibox-title bg-dark">
                        <h2 class="text-light font-bold"><strong>MORTALIDADE</strong></h2>
                        <div class="ibox-tools">
                            <a class="btn-link btn-lg" href="{% url 'mortality' property.id pond.id %}" title="NOVO REGISTRO DE MORTALIDADE">
                                <i class="fa fa-plus text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            {% with all_mortality=pond.cycle.all_mortality %}
                                {% if all_mortality|length > 0 %}
                                    <div class="col-md-4">

                                        <table class="mortatable table table-hover no-margins" data-page-size="5">
                                            <thead>
                                            <tr>
                                                <th>Quantidade</th>
                                                <th>Data</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            {% for mortality in all_mortality %}
                                                <tr>
                                                    <td>{{ mortality.amount }}</td>
                                                    <td>{{ mortality.date|date:'d-m-Y' }}</td>
                                                    <td>
                                                        <a href="{% url 'mortality_remove' property.id pond.id mortality.id %}" class="btn btn-outline-secondary btn-xs" title="Exluir Mortalidade"><i class="fa fa-trash"></i> Excluir</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}


                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <td colspan="5">
                                                    <ul class="pagination float-right"></ul>
                                                </td>
                                            </tr>
                                            </tfoot>
                                        </table>

                                    </div>
                                    <div class="col-md-8">
                                        <div class="dashboard-chart">
                                            <canvas id="morChart" height="100%"></canvas>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-12">
                                        <h3 class="text-center">Nenhuma Mortalidade registrada!</h3>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}
{% block script %}

    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>
    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>

        $(document).ready(function() {

            $('.biotable').footable();
            $('.mortatable').footable();
            $('.custotable').footable();

        });

        $(function() {

            var bioLabels = [],
                bioData = [];

            {% for bio in pond.cycle.all_biometria.reverse %}
                bioLabels.push('{{ bio.date|date:'d / m ' }}');
                bioData.push(parseFloat({{bio.middleweight}}));
            {% endfor %}

            var biolineData = {
                labels: bioLabels,
                datasets: [

                    {
                        label: "Biometria",
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: bioData
                    }
                ]
            };

            var biolineOptions = {
                responsive: true
            };


            var bioctx = document.getElementById("bioChart").getContext("2d");
            new Chart(bioctx, {
                type: 'line',
                data: biolineData,
                options: biolineOptions
            });

            var morLabels = [],
                morData = [];

            {% for mor in pond.cycle.all_mortality.reverse %}
                morLabels.push('{{ mor.date|date:'d / m ' }}');
                morData.push({{mor.amount}});
            {% endfor %}

            var morlineData = {
                labels: morLabels,
                datasets: [

                    {
                        label: "Mortalidade",
                        backgroundColor: 'rgba(26,179,148,0.5)',
                        borderColor: "rgba(26,179,148,0.7)",
                        pointBackgroundColor: "rgba(26,179,148,1)",
                        pointBorderColor: "#fff",
                        data: morData
                    }
                ]
            };

            var morlineOptions = {
                responsive: true
            };


            var morctx = document.getElementById("morChart").getContext("2d");
            new Chart(morctx, {
                type: 'line',
                data: morlineData,
                options: morlineOptions
            });

        });


    </script>

{% endblock %}