{% extends 'pond_base.html' %}
{% load static %}

{% block head %}
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">

    <link href="{% static 'css/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content p-md">
                    <div class="row">
                        <div class="col-md-6">
                            <h2><span class="text-navy"><strong>{{ pond.identification }}</strong></span></h2>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'property_ponds' property.id %}">{{ property.name }}</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <strong>{{ pond.identification }}</strong>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                {% if not pond.cycle %}
                                    <a href="{% url 'cycle_init' property.id pond.id %}"  class="btn btn-warning btn-outline btn-link"><strong>Novo ciclo</strong></a>
                                {% else %}
                                    {% if not pond.cycle.population %}
                                        <a href="{% url 'population' property.id pond.id %}"  class="btn btn-warning btn-outline btn-link"><strong>Povoamento</strong></a>
                                    {% else %}
                                        <a href="{% url 'despesca' property.id pond.id %}" class="btn btn-warning btn-outline btn-link"><strong>Despesca</strong></a>
                                    {% endif %}
                                {% endif %}
                                <a href="#" class="btn btn-primary btn-outline btn-link">
                                    Ciclos antigos
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">

            <div class="ibox">
                <div class="ibox-title bg-success">
                    <h2 class="font-bold"><strong>VIVEIRO</strong></h2>
                    <div class="ibox-tools">
                        <a class="collapse-link btn-link btn-lg">
                            <i class="fa fa-chevron-up text-light"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        Ciclos realizados:
                        <small> {{ pond.number_cycles }}</small>
                    </h3>
                    <h3>
                        Área do viveiro:
                        <small> {{ pond.area }} m²</small>
                    </h3>
                    <h3>
                        Vazão de Água:
                        <small> {{ pond.water_flow }} l/s</small>
                    </h3>
                    <h3>
                        Volume de Água:
                        <small> {{ pond.volume }} L</small>
                    </h3>
                </div>
            </div>
        </div>

        {% if pond.cycle %}
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-title bg-primary">
                        <h2 class="font-bold"><strong>CICLO</strong></h2>
                        <div class="ibox-tools">
                            <a class="btn-link btn-lg" title="Editar">
                                <i class="fa fa-pencil text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h3>
                            Sistema:
                            <small> {{ pond.cycle.get_system_display }}
                                {% if pond.cycle.system == 'IN' %}
                                    <h5>{{ pond.cycle.get_type_intensive_display }}</h5>
                                {% endif %}
                            </small>
                        </h3>
                        <h3>
                            Densidade:
                            <small> {{ pond.cycle.density }} peixe/m²</small>
                        </h3>
                        <h3>
                            Quantidade de Peixes:
                            <small>{{ pond.cycle.amount_fish }} peixes</small>
                        </h3>
                    </div>
                </div>
            </div>

            {% if pond.cycle.population %}

                <div class="col-lg-4">
                    <div class="ibox">
                        <div class="ibox-title bg-danger">
                            <h2 class="font-bold"><strong>POVOAMENTO</strong></h2>
                            <div class="ibox-tools">
                                <a class="btn-link btn-lg" title="Editar">
                                    <i class="fa fa-pencil text-light"></i>
                                </a>
                                <a class="collapse-link btn-link btn-lg">
                                    <i class="fa fa-chevron-up text-light"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <h3>
                                Data :
                                <small> {{ pond.cycle.population.date|date:'d/m/Y' }}</small>
                            </h3>
                            <h3>
                                Peso médio:
                                <small> {{ pond.cycle.population.middleweight }} g</small>
                            </h3>
                            <h3>
                                Data estimada para despesca:
                                <small> {{ pond.cycle.date_despesca|date:'d/m/Y' }}</small>
                            </h3>
                            <h3>
                                Peso médio esperado na despesca:
                                <small> {{ pond.cycle.middleweight_despesca }} g</small>
                            </h3>
                            <h3>
                                Biomassa:
                                <small> {{ pond.cycle.biomassa|floatformat:2 }} kg</small>
                            </h3>
                            <h3>
                                Peso Médio atual:
                                <small> {{ pond.cycle.peso_medio }} g</small>
                            </h3>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}
    </div>

    {% if pond.cycle and pond.cycle.population %}

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title bg-warning">
                        <h2 class="font-bold"><strong>ARRAÇOAMENTO</strong></h2>
                        <div class="ibox-tools">
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h3>Quantidade de ração:
                            <small>{{ pond.cycle.arracoamento|floatformat:2 }} g</small>
                        </h3>

                        <h3>
                            Refeições por dia:
                            <small>{{ pond.cycle.number_refeicoes }}</small>
                        </h3>
                        <h3>
                            Horários da ração:
                            <small>{{ pond.cycle.horario_refeicoes }}</small>
                        </h3>
                        <h3>
                            Proteina na ração:
                            <small>{{ pond.cycle.proteina_racao }} %</small>
                        </h3>
                        <h3>
                            Diâmetro do pelete:
                            <small>{{ pond.cycle.diametro_pelete }} mm</small>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-title bg-info">
                        <h2 class="font-bold"><strong>QUALIDADE DA ÁGUA</strong></h2>
                        <div class="ibox-tools">
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-title bg-dark">
                        <h2 class="font-bold text-light"><strong>BIOMETRIA</strong></h2>
                        <div class="ibox-tools">
                            <a class="btn-link btn-lg" href="{% url 'biometria' property.id pond.id %}" title="NOVA BIOMETRIA">
                                <i class="fa fa-plus text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="list-group clear-list m-t">
                                    {% with all_biometria=pond.cycle.all_biometria  %}
                                        {% if all_biometria|length > 0 %}
                                            {% for bio in all_biometria %}
                                                <li class="list-group-item">
                                                    <span class="float-right">{{ bio.middleweight }}</span>
                                                    {{ bio.date }}
                                                </li>
                                            {% endfor %}

                                        {% else %}
                                            <h3>Nenhuma biometria realizada!</h3>
                                        {% endif %}

                                    {% endwith %}
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="flot-chart dashboard-chart">
                                    <div class="flot-chart-content" id="biometria-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title bg-dark">
                        <h2 class="text-light font-bold"><strong>MORTALIDADE</strong></h2>
                        <div class="ibox-tools">
                            <a class="btn-link btn-lg" href="{% url 'mortality' property.id pond.id %}" title="NOVO REGISTRO DE MORTALIDADE">
                                <i class="fa fa-plus text-light"></i>
                            </a>
                            <a class="collapse-link btn-link btn-lg">
                                <i class="fa fa-chevron-up text-light"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="list-group clear-list m-t">
                                    {% with all_mortality=pond.cycle.all_mortality %}
                                        {% if all_mortality|length > 0 %}

                                            {% for mortality in all_mortality %}
                                                <li class="list-group-item">
                                                    <span class="float-right">{{ bio.middleweight }}</span>
                                                    {{ mortality.date }}
                                                </li>
                                            {% endfor %}

                                        {% else %}

                                            <h3>Nenhuma Mortalidade registrada!</h3>

                                        {% endif %}

                                    {% endwith %}
                                </ul>
                            </div>
                            <div class="col-md-9">
                                <div class="col-md-9">
                                    <div class="flot-chart dashboard-chart">
                                        <div class="flot-chart-content" id="mortality-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script src="{% static 'js/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.js' %}"></script>

    <script src="{% static 'js/demo/morris-demo.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footableB').footable();
            $('.footableM').footable();

            var months = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];

            $(function () {
                Morris.Line({
                    element: 'biometria-chart',
                    data: [
                        {% for item in pond.cycle.all_biometria reversed %}
                            { day: '{{item.date|date:'Y-M'}}', weight: '{{item.middleweight}}' },
                        {% endfor %}
                    ],
                    xkey: 'day',
                    ykeys: ['weight'],
                    labels: ['Peso médio'],
                    xLabels: 'month',
                    hideHover: 'auto',
                    resize: true,
                    parseTime: false,
                });

                Morris.Line({
                    element: 'mortality-chart',
                    data: [
                        {% for item in pond.cycle.all_mortality reversed %}
                            { day: '{{item.date|date:'Y-M'}}', mortality: '{{item.amount}}' },
                        {% endfor %}
                    ],
                    xkey: 'day',
                    ykeys: ['mortality'],
                    resize: true,
                    lineWidth:4,
                    labels: ['Taxa de mortalidade'],
                    xLabels: 'month',
                    lineColors: ['#1ab394'],
                    pointSize:5,
                    parseTime: false,
                    hideHover: 'auto',
                })
            })

        });

    </script>

{% endblock %}