{% extends 'pond_base.html' %}
{% load static %}

{% block head %}

    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title p-m">
                    <h2><span class="text-navy font-bold"><strong>{% if form.instance.pk %} Editar {% else %} Cadastrar {% endif %} Povoamento</strong></span></h2>
                </div>
                <div class="ibox-content p-m">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group"  id="data_id">
                                    <label class="col-form-label">
                                        <h3>{{ form.date.label }}
                                            <small class="form-text m-b-none">Data em que o povoamento foi realizado.</small></h3>
                                    </label>
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        {{ form.date }}
                                        {% for erro in form.date.errors %}
                                            <p class="text-danger">{{ erro }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.middleweight.label }}
                                            <small class="form-text m-b-none">Peso médio do peixe em gramas</small>
                                        </h3>
                                    </label>
                                    {{ form.middleweight }}
                                    {% for erro in form.middleweight.errors %}
                                        <p class="text-danger">{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.amount_fish.label }}
                                            <small class="form-text m-b-none">Quantidade de Peixes</small></h3>
                                    </label>
                                    {{ form.amount_fish }}
                                    {% for erro in form.amount_fish.errors %}
                                        <p class="text-danger">{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-white btn-link" href="{% url 'pond_detail' property.id pond.id %}">
                                    Cancelar
                                </a>
                                <button class="btn btn-primary" type="submit">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.pt-BR.js' %}"></script>

    <script>

        $(document).ready(function () {

            $('#data_id .input-group.date').datepicker({
                format: "dd/mm/yyyy",
                language: 'pt-BR',
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });

    </script>

{% endblock %}