{% extends 'property_menu.html' %}

{% load static %}

{% block title %}Propriedades{% endblock %}

{% block header %}
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <div class="col-md-12">
                <h2>Propriedades</h2>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    {% if object_list %}

        <div class="row">
            {% for property in object_list %}
                <div class="col-lg-3">
                    <div class="contact-box center-version">
                        <a href="{% url 'property_ponds' property.id %}">
                            <h3 class="m-b-xs"><strong>{{ property.name }}</strong></h3>
                            <address class="m-t-md">
                                {{ property.address.number }} {{ property.address.street }}, {{ property.address.district }}<br>
                                {{ property.address.city }}, {{ property.address.get_state_display }}<br>
                            </address>
                        </a>
                        <div class="contact-box-footer">
                            <div class="m-t-xs btn-group">
                                <a href="{% url 'property_update' property.id %}"  class="btn btn-xs btn-white"><i class="fa fa-pencil"></i> Editar </a>
                                <a href="{% url 'property_delete' property.id %}"  class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}

        <div class="middle-box text-center">
            <h3 class="font-bold">Nenhuma Propriedade Cadastrada</h3>
            <div class="error-desc">
                Cadastre suas Propriedades para que possa Utilizar o sistema.
                <br/><a href="{% url 'property_create' %}" class="btn btn-primary m-t">+ Nova Propriedade</a>
            </div>
        </div>

    {% endif %}


{% endblock %}

