{% extends 'base.html' %} {% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title p-m">
                    <h2><span class="text-navy font-bold"><strong>{% if form.instance.pk %}Editar {% else %}Cadastrar{% endif %} Propriedade</strong></span></h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'property_list' %}">Propriedades</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <strong>{% if form.instance.pk %}Editar {% else %}Cadastrar{% endif %} Propriedade</strong>
                        </li>
                    </ol>
                </div>
                <div class="ibox-content p-md">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.name.label }}</h3>
                                    </label>
                                    {{ form.name }}
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-form-label">
                                    <h2>Endereço</h2>
                                </label>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.district.label }}</h3>
                                    </label> {{ form.district }}
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.complement.label }}</h3>
                                    </label> {{ form.complement }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3> {{ form.city.label }}</h3>
                                    </label> {{ form.city }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3> {{ form.state.label }}</h3>
                                    </label> {{ form.state }}
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="{% url 'property_list' %}" class="btn btn-white btn-link">Cancelar</a>
                                <button class="btn btn-primary" type="submit">Salvar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}