{% extends 'base.html' %}

{% load static %}

{% block title %} Propriedade {% endblock %}

{% block header %}
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

{#    <div class="row border-bottom white-bg page-heading">#}
{#        <div class="col-sm-4">#}
{#            <h2>Viveiros</h2>#}
{#            <ol class="breadcrumb">#}
{#                <li>#}
{#                    <a href="{% url 'propriedade_detail' property.slug %}">{{ property.name }}</a>#}
{#                </li>#}
{#                <li class="active">#}
{#                    <strong>Viveiros</strong>#}
{#                </li>#}
{#            </ol>#}
{#        </div>#}
{#        <div class="col-sm-8">#}
{#            <div class="title-action">#}
{#                <a href="{% url 'viveiro_create' property.slug %}" class="btn btn-primary">+ Novo Viveiro</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row wrapper-content animated fadeInRight">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Viveiros</h5>
                    <div class="ibox-tools">
                        <a href="{% url 'viveiro_create' property.slug %}" class="btn btn-primary btn-xs">+ Novo Viveiro</a>
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                           placeholder="Buscar">

                    <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
                        <thead>
                        <tr>
                            <th>Identificação</th>
                            <th>Tipo de Sistema</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for viveiro in property.pond_set.all %}

                            <tr class="gradeX">
                                <td><a href="{% url 'viveiro_detail' property.slug viveiro.slug %}" class="client-link">{{ viveiro.identification }}</a></td>
                                <td>{{ viveiro.get_type_system_display }}</td>
                            </tr>

                        {% endfor %}

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>

{% endblock %}