{% extends 'base.html' %}

{% load static %}

{% block title %} Propriedade {% endblock %}

{% block header %}
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% with viveiros=property.pond_set.all  %}

        {% if viveiros %}

            <div class="row wrapper-content animated fadeInRight">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Viveiros</h5>
                            <div class="ibox-tools">
                                <a href="{% url 'pond_create' property.slug %}" class="btn btn-primary btn-xs">+ Novo Viveiro</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Buscar">

                            <table class="footable table table-stripped" data-page-size="20" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th>Identificação</th>
                                    <th>Tipo de Sistema</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for viveiro in viveiros %}

                                    <tr class="gradeX">
                                        <td><a href="{% url 'pond_detail' property.slug viveiro.slug %}" class="client-link">{{ viveiro.identification }}</a></td>
                                        <td>{{ viveiro.get_type_system_display }}</td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="wrapper wrapper-content">
                <div class="middle-box text-center animated fadeInRightBig">
                    <h3 class="font-bold">Nenhuma Viveiro Cadastrado</h3>
                    <div class="error-desc">
                        Cadastre seus Viveiros.
                        <br/><a href="{% url 'viveiro_create' property.slug %}" class="btn btn-primary m-t">+ Novo Viveiro</a>
                    </div>
                </div>
            </div>

        {% endif %}

    {% endwith %}

{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>

{% endblock %}