{% extends 'base_template.html' %}

{% load static %}

{% block title %}Propriedades{% endblock %}

{% block header %}
    <link href="{% static 'css/plugins/footable/footable.core.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if object_list %}

        <div class="animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Propriedades</h5>

                            <div class="ibox-tools">
                                <a href="{% url 'property_create' %}" class="btn btn-success btn-outline btn-xs">+ Nova Propriedade</a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Pesquise uma propriedade">

                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="20" data-filter=#filter>
                                <thead>
                                <tr>

                                    <th data-toggle="true">Propriedade</th>
                                    <th data-hide="all">Bairro</th>
                                    <th data-hide="all">Rua</th>
                                    <th data-hide="all">Numero</th>
                                    <th data-hide="all">cidade</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for propriedade in object_list %}

                                    <tr>
                                        <td>{{ propriedade.name }}</td>
                                        <td>{{ propriedade.address.district }}</td>
                                        <td>{{ propriedade.address.street }}</td>
                                        <td>{{ propriedade.address.number }}</td>
                                        <td>{{ propriedade.address.city }} - {{ propriedade.address.state }}</td>
                                        <td class="project-actions">
                                            <a href="{% url 'property_ponds' propriedade.slug %}" class="btn btn-primary btn-outline btn-xs"><i class="fa fa-folder"></i> Abrir Propriedade </a>
                                            <a href="{% url 'property_update' propriedade.slug %}" class="btn btn-white btn-outline btn-xs"><i class="fa fa-pencil"></i> Editar </a>
                                        </td>
                                    </tr>

                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>

                {% else %}

                <div class="wrapper wrapper-content">
                    <div class="middle-box text-center animated fadeInRightBig">
                        <h3 class="font-bold">Nenhuma Propriedade Cadastrada</h3>
                        <div class="error-desc">
                            Cadastre suas Propriedades para que possa Utilizar o sistema.
                            <br/><a href="{% url 'property_create' %}" class="btn btn-primary m-t">+ Nova Propriedade</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endif %}


{% endblock %}

{% block script %}

    <script src="{% static 'js/plugins/footable/footable.all.min.js' %}"></script>

    <script>
        $(document).ready(function() {

            $('.footable').footable();

        });

    </script>

{% endblock %}

