{% extends 'pond_base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title p-m">
                    <h2><span class="text-navy font-bold"><strong>{% if not form.instance.pk %} Cadastrar {% else %} Editar {% endif %} Qualidade da Água</strong></span></h2>
                </div>
                <div class="ibox-content p-m">
                    <form method="post">
                        {% csrf_token %}

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.transparency.label }}
                                        </h3>
                                    </label>
                                    {{ form.transparency }}
                                    {% for erro in form.transparency.erros %}
                                        <p>{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.temperature.label }}</h3>
                                    </label>
                                    {{ form.temperature }}
                                    {% for erro in form.temperature.erros %}
                                        <p>{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.ph.label }}
                                        </h3>
                                    </label>
                                    {{ form.ph }}
                                    {% for erro in form.ph.erros %}
                                        <p>{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-form-label">
                                        <h3>{{ form.oxygen.label }}
                                        </h3>
                                    </label>
                                    {{ form.oxygen }}
                                     {% for erro in form.oxygen.erros %}
                                        <p>{{ erro }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <a class="btn btn-link btn-default" href="{% url 'pond_detail' property.id pond.id %}">
                                    Cancelar
                                </a>
                                <button class="btn btn-primary" type="submit">
                                    Salvar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}